<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.resheim.elibrarium.epub.ui.reader.EpubReader"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="epub"
            icon="icons/book.gif"
            id="no.resheim.elibrarium.epub.ui.reader.EPUBReader"
            name="EPUB Reader">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="no.resheim.elibrarium.epub.ui.preferences.ScanPreferencePage"
            id="no.resheim.elibrarium.epub.ui.preferences.PreferencePage"
            name="EPUB Scanning">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="no.resheim.elibrarium.epub.ui.theme"
            label="EPUB Reader">
      </themeElementCategory>
      <fontDefinition
            categoryId="no.resheim.elibrarium.epub.ui.theme"
            id="no.resheim.elibrarium.epub.ui.titleFont"
            isEditable="true"
            label="Bookmark title font">
         <fontValue
               os="macosx"
               value="Lucida Sans-12-bold">
         </fontValue>
      </fontDefinition>
      <fontDefinition
            categoryId="no.resheim.elibrarium.epub.ui.theme"
            id="no.resheim.elibrarium.epub.ui.dateFont"
            isEditable="true"
            label="Bookmark date font">
         <fontValue
               os="macosx"
               value="Lucida Sans-11-italic">
         </fontValue>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="no.resheim.elbrarium.epub.ui.commands.DeleteBookmarkHandler"
            id="no.resheim.elibrarium.deleteBookmarkCommand"
            name="Delete Bookmark">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="EPUB bookmarks view"
            id="no.resheim.elibrarium.bookmarks"
            name="Bookmark View">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="no.resheim.elibrarium.deleteBookmarkCommand"
            contextId="no.resheim.elibrarium.bookmarks"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:no.resheim.elibrarium.bookmarks?before=additions">
         <command
               commandId="no.resheim.elibrarium.deleteBookmarkCommand"
               label="Delete">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
</plugin>
