<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.resheim.reader.epub.ui.Reader"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="epub"
            icon="icons/book.gif"
            id="no.resheim.reader.epub.ui.Reader"
            name="EPUB Reader">
      </editor>
   </extension>

</plugin>
