<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.resheim.elibrarium.epub.core.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="no.resheim.elibrarium.epub.core.EpubContentDescriber"
            file-extensions="epub"
            id="epubFile"
            name="EPUB File"
            priority="high">
      </content-type>
   </extension>

</plugin>
