<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="no.resheim.elibrarium.library.core.collection">
      <collection
            class="no.resheim.elibrarium.epub.core.EPUBCollection"
            id="no.resheim.elibrarium.epub">
      </collection>
   </extension>

</plugin>
