<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="collection" name="Book Collection" schema="schema/collection.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://resheim.no/elibrarium/library"
            class="no.resheim.elibrarium.library.LibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="elibrarium"
            class="no.resheim.elibrarium.library.util.LibraryResourceFactoryImpl"/>
   </extension>
</plugin>
